body
{
    padding: 0;
    margin: 0;
	display: flex;
	min-height: 100vh;
}
.box{
    padding: 1em 2em;
    margin: auto;
    width: 650px;
    height: 300px;
	box-sizing: border-box;
}
.head
{
    text-align: center;
    font-size: 32px;
    background: #afa785;
}
.body{
    background: orange;
    width: 100%;
    padding-top: 8px;
}
.body .name{
    width: 100%;
    display: flex;
    padding:8px 32px 0px 32px;
}
.body label {
    width: 25%;
    background:green;
    text-align: center;
    border: 1px black dashed;
    margin: 0px 4px;
}
.body input {
    background: lightblue;
    border: 1px black dashed;
    margin: 0px 4px;
    width: 50%;
}
.body span {
    color: red;
    margin: 0px 4px;
    font-weight: bold;
    font-size: 20px;
}
.footer
{
    background: orange;
    width: 100%;
    margin: auto;
    display: flex;
}
.footer .border {
    padding-top: 8px;
    display: table;
    margin: auto;

}
.footer .border input
{
    padding: 4px 24px 0px 24px;
    font-size: 24px;
    margin: 8px;
    background:lightgreen;
    border: 1px black dashed;
}