html,body{
    padding: 0px;
    margin: 0px;
}
.form{
    display: inline;
}
.col {
    margin: 2px;
    display: flex;
    width: 410px;
}
.username .label {
    text-align: right;
    padding: 16px;
    width: 60px;
    margin-right: 2px;
    font-size: 14px;
    font-weight: bold;
    background: rgb(177, 177, 177);
}

.username .input {
    padding: 8px;
    width: 350px;
    background: rgb(214, 214, 214);
}

.password .label {
    text-align: right;
    padding: 16px;
    width: 60px;
    margin-right: 2px;
    font-size: 14px;
    font-weight: bold;
    background: rgb(177, 177, 177);
}

.password .input {
    padding: 8px;
    width: 350px;
    background: rgb(214, 214, 214);
}
.verc .label {
    text-align: right;
    padding: 16px;
    width: 60px;
    margin-right: 2px;
    font-size: 14px;
    font-weight: bold;
    background: rgb(177, 177, 177);
}

.verc .input {
    padding: 8px;
    width: 350px;
    background: rgb(214, 214, 214);
}

.footer .input {
    padding: 8px;
    text-align: right;
    width: 100%;
    background: rgb(214, 214, 214);
}