.box
{
    width:800px;
}
.bag
{
    width:800px;
    height:50px;
    margin: 2px;
    display: flex;

}
.box .bag .name
{
    width:15%;
    height:40px;
    margin: 2px;
    text-align: right;
    padding: 10px 10px 0px 0px ;
    background-color: gray;;
}

.box .bag .text
{
    margin:1px;
    height:40px;
    width:86%;
    margin: 2px;
    padding: 10px 0px 0px 10px;
    background-color:gainsboro;
}
.box .bag .text input
{
    width:40%;
}
.bag1
{
    width:800px;
    height:100px;
    margin: 2px;
    display: flex;

}
.box .bag1 .name1
{
    width:15%;
    height:80px;
    margin: 2px;
    text-align: right;
    padding: 30px 10px 0px 0px ;
    background-color: gray;;
}

.box .bag1 .text1
{
    height:95%;
    width:85%;
    margin: 2px;
    padding: 8px;
    background-color:gainsboro;
}
.box .bag1 .text1 textarea
{
    width:95%;
    height:93.5%;
    overflow-y: scroll;
    overflow-x: unset;
    resize: unset;
}