body
{
    padding: 0;
    margin: 0;  
	display: flex;
    min-height: 100vh;
}
.box
{
    padding: 1em 2em;
    margin: auto;
    width: 800px;
    height:600px;
    box-sizing: border-box;
}
.box .head
{
    border: 1px black solid;
    text-align: center;
    background-color: lightskyblue;
    width: 99.75%;
    height: 30px;
    font-size: 20px;
}
.box .bog
{
    display: flex;
}
.box .bog1
{
    display: flex;
}
.box .bog .name
{
    border: 1px black solid;
    width:100px;
    height: 30px;
    padding: 8px 0px 0px 80px;
    background-color:gainsboro;
}
.box .bog .text
{
    border: 1px black solid;
    padding:8px 0px 0px 10px ;
    background-color: lightsteelblue;
    height: 30px;
    width: 550px;
}
.box .bog .text text
{
    border: 1px black solid;
    width: 200px;
}
.box .bog .name1
{
    border: 1px black solid;
    width:100px;
    height: 30px;
    padding: 8px 0px 0px 80px;
    background-color:gainsboro;
}
.box .bog .name2
{
    border: 1px black solid;
    width:100px;
    height: 30px;
    padding: 10px 0px 0px 80px;
    background-color:gainsboro;
}
.box .bog1 .name2
{
    border: 1px black solid;
    width:100px;
    height: 70px;
    padding: 50px 0px 0px 80px;
    background-color:gainsboro;
} 
.box .bog1 .text1
{
    border: 1px black solid;
    width:552px;
    padding: 4px;
    background-color:lightsteelblue;
} 
.box .footer
{
    border: 1px black solid;
    text-align: center;
    background-color: lightskyblue;
    width: 99.75%;
    height: 30px;
    font-size: 20px;
}
.bog1 .text1 textarea
{
    overflow-y: scroll;
    overflow-x: unset;
    resize: unset;
}